In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("Final_Data.parquet")
df.head(5)

,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,...,end_lat,end_lon,Member_type,Holiday,temp,rel_humidity,precipitation,snow,wspd,sun_minutes
ride_id,,,,,,,,,,,,,,,,,,,,,
0,W00742,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,M St & New Jersey Ave SE,31208,17,4th & M St SW,31108,23,...,38.876708,-77.017900,Member,None,19.4,76.0,0.0,NaN,20.5,NaN
1,W00032,61,2010-09-20 11:41:22,2010-09-20 11:42:23,1st & N St SE,31209,39,1st & N St SE,31209,39,...,38.874106,-77.005799,Member,None,19.4,76.0,0.0,NaN,20.5,NaN
2,W00993,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,5th & K St NW,31600,19,19th St & Pennsylvania Ave NW,31100,15,...,38.900303,-77.042899,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
3,W00344,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,5th & K St NW,31600,19,Park Rd & Holmead Pl NW,31602,35,...,38.930809,-77.031499,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
4,W00883,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,19th St & Pennsylvania Ave NW,31100,15,15th & P St NW,31201,19,...,38.909810,-77.034430,Member,None,20.0,70.0,0.0,NaN,25.9,NaN

In [41]:
df.drop(columns=['ride_id'], inplace=True)

In [22]:
df.drop_duplicates(inplace=True)

In [43]:
df_final=df.reset_index(drop=True)

In [44]:
df_final['ride_id'] = df_final.index.map(hash)
df_final

,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,...,end_lon,Member_type,Holiday,temp,rel_humidity,precipitation,snow,wspd,sun_minutes,ride_id
0,W00742,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,M St & New Jersey Ave SE,31208,17,4th & M St SW,31108,23,...,-77.017900,Member,None,19.4,76.0,0.0,NaN,20.5,NaN,0
1,W00032,61,2010-09-20 11:41:22,2010-09-20 11:42:23,1st & N St SE,31209,39,1st & N St SE,31209,39,...,-77.005799,Member,None,19.4,76.0,0.0,NaN,20.5,NaN,1
2,W00993,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,5th & K St NW,31600,19,19th St & Pennsylvania Ave NW,31100,15,...,-77.042899,Member,None,20.0,70.0,0.0,NaN,25.9,NaN,2
3,W00344,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,5th & K St NW,31600,19,Park Rd & Holmead Pl NW,31602,35,...,-77.031499,Member,None,20.0,70.0,0.0,NaN,25.9,NaN,3
4,W00883,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,19th St & Pennsylvania Ave NW,31100,15,15th & P St NW,31201,19,...,-77.034430,Member,None,20.0,70.0,0.0,NaN,25.9,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039458,W21457,358,2019-12-31 22:57:21,2019-12-31 23:03:19,Massachusetts Ave & 6th St NE,31657,19,13th & H St NE,31611,27,...,-76.988255,Member,None,11.1,43.0,0.0,NaN,16.6,NaN,26039458
26039459,W23700,1244,2019-12-31 22:58:26,2019-12-31 23:19:11,Columbus Circle / Union Station,31623,55,New Hampshire Ave & T St NW,31229,23,...,-77.038250,Casual,None,11.1,43.0,0.0,NaN,16.6,NaN,26039459
26039460,W21794,697,2019-12-31 22:59:51,2019-12-31 23:11:28,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN,26039460
26039461,W23809,688,2019-12-31 22:59:52,2019-12-31 23:11:20,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN,26039461
26039462,W20966,417,2019-12-31 23:00:20,2019-12-31 23:07:17,10th & Florida Ave NW,31120,19,1st & Rhode Island Ave NW,31506,15,...,-77.012294,Member,None,10.6,44.0,0.0,NaN,11.2,NaN,26039462

In [45]:
df_final.set_index('ride_id', inplace=True)

In [46]:
df_final

,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,...,end_lat,end_lon,Member_type,Holiday,temp,rel_humidity,precipitation,snow,wspd,sun_minutes
ride_id,,,,,,,,,,,,,,,,,,,,,
0,W00742,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,M St & New Jersey Ave SE,31208,17,4th & M St SW,31108,23,...,38.876708,-77.017900,Member,None,19.4,76.0,0.0,NaN,20.5,NaN
1,W00032,61,2010-09-20 11:41:22,2010-09-20 11:42:23,1st & N St SE,31209,39,1st & N St SE,31209,39,...,38.874106,-77.005799,Member,None,19.4,76.0,0.0,NaN,20.5,NaN
2,W00993,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,5th & K St NW,31600,19,19th St & Pennsylvania Ave NW,31100,15,...,38.900303,-77.042899,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
3,W00344,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,5th & K St NW,31600,19,Park Rd & Holmead Pl NW,31602,35,...,38.930809,-77.031499,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
4,W00883,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,19th St & Pennsylvania Ave NW,31100,15,15th & P St NW,31201,19,...,38.909810,-77.034430,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039458,W21457,358,2019-12-31 22:57:21,2019-12-31 23:03:19,Massachusetts Ave & 6th St NE,31657,19,13th & H St NE,31611,27,...,38.900437,-76.988255,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039459,W23700,1244,2019-12-31 22:58:26,2019-12-31 23:19:11,Columbus Circle / Union Station,31623,55,New Hampshire Ave & T St NW,31229,23,...,38.915556,-77.038250,Casual,None,11.1,43.0,0.0,NaN,16.6,NaN
26039460,W21794,697,2019-12-31 22:59:51,2019-12-31 23:11:28,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,38.916793,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039461,W23809,688,2019-12-31 22:59:52,2019-12-31 23:11:20,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,38.916793,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039462,W20966,417,2019-12-31 23:00:20,2019-12-31 23:07:17,10th & Florida Ave NW,31120,19,1st & Rhode Island Ave NW,31506,15,...,38.915427,-77.012294,Member,None,10.6,44.0,0.0,NaN,11.2,NaN

In [6]:
df.drop(columns=['Start_capacity','end_lat','End_capacity','start_lat','start_lon','end_lon','Holiday', 'temp','rel_humidity', 'precipitation', 'snow', 'wspd', 'sun_minutes'], inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26039463 entries, 0 to 26039462
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   Bike_number           category
 1   Duration              int64
 2   Start_date            datetime64[ns]
 3   End_date              datetime64[ns]
 4   Start_station         object
 5   Start_station_number  int64
 6   Start_capacity        int64
 7   End_station           object
 8   End_station_number    int64
 9   End_capacity          int64
 10  start_lat             float64
 11  start_lon             float64
 12  end_lat               float64
 13  end_lon               float64
 14  Member_type           category
 15  Holiday               object
 16  temp                  float64
 17  rel_humidity          float64
 18  precipitation         float64
 19  snow                  float64
 20  wspd                  float64
 21  sun_minutes           float64
dtypes: category(2), datetime64[ns](2), float64(10), int64(5), object(3)
memory usage: 4.1+ GB

In [6]:
df.tail()

,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,...,end_lat,end_lon,Member_type,Holiday,temp,rel_humidity,precipitation,snow,wspd,sun_minutes
ride_id,,,,,,,,,,,,,,,,,,,,,
26039458,W21457,358,2019-12-31 22:57:21,2019-12-31 23:03:19,Massachusetts Ave & 6th St NE,31657,19,13th & H St NE,31611,27,...,38.900437,-76.988255,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039459,W23700,1244,2019-12-31 22:58:26,2019-12-31 23:19:11,Columbus Circle / Union Station,31623,55,New Hampshire Ave & T St NW,31229,23,...,38.915556,-77.038250,Casual,None,11.1,43.0,0.0,NaN,16.6,NaN
26039460,W21794,697,2019-12-31 22:59:51,2019-12-31 23:11:28,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,38.916793,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039461,W23809,688,2019-12-31 22:59:52,2019-12-31 23:11:20,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,38.916793,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039462,W20966,417,2019-12-31 23:00:20,2019-12-31 23:07:17,10th & Florida Ave NW,31120,19,1st & Rhode Island Ave NW,31506,15,...,38.915427,-77.012294,Member,None,10.6,44.0,0.0,NaN,11.2,NaN

In [24]:
df_data = df[:26039383]
df_data

,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,...,end_lat,end_lon,Member_type,Holiday,temp,rel_humidity,precipitation,snow,wspd,sun_minutes
ride_id,,,,,,,,,,,,,,,,,,,,,
0,W00742,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,M St & New Jersey Ave SE,31208,17,4th & M St SW,31108,23,...,38.876708,-77.017900,Member,None,19.4,76.0,0.0,NaN,20.5,NaN
1,W00032,61,2010-09-20 11:41:22,2010-09-20 11:42:23,1st & N St SE,31209,39,1st & N St SE,31209,39,...,38.874106,-77.005799,Member,None,19.4,76.0,0.0,NaN,20.5,NaN
2,W00993,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,5th & K St NW,31600,19,19th St & Pennsylvania Ave NW,31100,15,...,38.900303,-77.042899,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
3,W00344,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,5th & K St NW,31600,19,Park Rd & Holmead Pl NW,31602,35,...,38.930809,-77.031499,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
4,W00883,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,19th St & Pennsylvania Ave NW,31100,15,15th & P St NW,31201,19,...,38.909810,-77.034430,Member,None,20.0,70.0,0.0,NaN,25.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039378,W23245,23434,2019-12-31 21:58:20,2020-01-01 04:28:54,1st & H St NW,31638,15,15th & F St NE,31632,19,...,38.897202,-76.983575,Casual,None,11.1,41.0,0.0,NaN,20.5,NaN
26039379,W20537,322,2019-12-31 21:59:26,2019-12-31 22:04:48,Wilson Blvd & N Quincy St,31039,15,Washington Blvd & 10th St N,31026,15,...,38.884744,-77.093487,Member,None,11.1,41.0,0.0,NaN,20.5,NaN
26039380,W01361,582,2019-12-31 21:59:35,2019-12-31 22:09:18,15th St & Constitution Ave NW,31321,19,22nd St & Constitution Ave NW,31292,23,...,38.892446,-77.048946,Casual,None,11.1,41.0,0.0,NaN,20.5,NaN
26039381,W21352,308,2019-12-31 21:59:35,2019-12-31 22:04:44,Wilson Blvd & N Quincy St,31039,15,Washington Blvd & 10th St N,31026,15,...,38.884744,-77.093487,Member,None,11.1,41.0,0.0,NaN,20.5,NaN
26039382,W20090,466,2019-12-31 22:00:03,2019-12-31 22:07:50,14th & Upshur St NW,31406,19,Kansas Ave & Sherman Cr NW,31417,19,...,38.947972,-77.021551,Member,None,11.1,43.0,0.0,NaN,16.6,NaN

In [26]:
df_etl = df[26039383:]
df_etl

,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,...,end_lat,end_lon,Member_type,Holiday,temp,rel_humidity,precipitation,snow,wspd,sun_minutes
ride_id,,,,,,,,,,,,,,,,,,,,,
26039383,W24078,439,2019-12-31 22:03:01,2019-12-31 22:10:21,10th & G St NW,31274,23,North Capitol St & G Pl NE,31637,19,...,38.899707,-77.008914,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039384,W00890,775,2019-12-31 22:06:20,2019-12-31 22:19:16,17th & K St NW / Farragut Square,31233,35,3rd & H St NW,31604,15,...,38.899419,-77.015289,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039385,W24245,679,2019-12-31 22:06:40,2019-12-31 22:18:00,6th & H St NE,31615,23,1st & K St SE,31628,15,...,38.878862,-77.005730,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039386,W20442,406,2019-12-31 22:07:30,2019-12-31 22:14:16,14th & Belmont St NW,31119,15,18th St & Wyoming Ave NW,31114,23,...,38.918816,-77.041572,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039387,W24031,637,2019-12-31 22:07:35,2019-12-31 22:18:12,1st & M St NE,31603,15,Maryland Ave & 17th St NE,31656,19,...,38.901940,-76.978628,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26039458,W21457,358,2019-12-31 22:57:21,2019-12-31 23:03:19,Massachusetts Ave & 6th St NE,31657,19,13th & H St NE,31611,27,...,38.900437,-76.988255,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039459,W23700,1244,2019-12-31 22:58:26,2019-12-31 23:19:11,Columbus Circle / Union Station,31623,55,New Hampshire Ave & T St NW,31229,23,...,38.915556,-77.038250,Casual,None,11.1,43.0,0.0,NaN,16.6,NaN
26039460,W21794,697,2019-12-31 22:59:51,2019-12-31 23:11:28,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,38.916793,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039461,W23809,688,2019-12-31 22:59:52,2019-12-31 23:11:20,Columbia & Ontario Rd NW,31296,23,12th & U St NW,31268,31,...,38.916793,-77.028138,Member,None,11.1,43.0,0.0,NaN,16.6,NaN
26039462,W20966,417,2019-12-31 23:00:20,2019-12-31 23:07:17,10th & Florida Ave NW,31120,19,1st & Rhode Island Ave NW,31506,15,...,38.915427,-77.012294,Member,None,10.6,44.0,0.0,NaN,11.2,NaN

In [5]:
df.sort_values('Start_date',inplace=True)

In [27]:
df_data.to_parquet('System_Data.parquet')

In [ ]:
def write_to_gbq(request):

    # importing all the necessary packages
    # must be included in requirements.txt
    from google.cloud import bigquery
    import gcsfs
    import pandas as pd
    import datetime
    import holidays
    from meteostat import Hourly
    # path to gcs, where the files are located
    file_path = 'gs://dscb430-analysis-data-bucket/raw_data/4datapoints_test.csv'
    stations_file = 'gs://dscb430-analysis-data-bucket/raw_data/Capital_Bike_Share_Locations.csv'

    project_id = 'welu420'

    try:
        # accessing new rides
        file_path = 'gs://dscb430-analysis-data-bucket/raw_data/4datapoints_test.csv'
        new_rides = pd.read_csv(file_path, parse_dates=['Start_date', 'End_date'])

        # getting stations info
        station_infos = pd.read_csv(stations_file)
    except Exception as e:
        print('Unable to read in file', e, sep='\n')
        exit(1)

    cols = ['LATITUDE', 'LONGITUDE', 'NAME', 'CAPACITY']
    station_infos = station_infos[cols]
    station_infos = station_infos[cols]
    new_rides = pd.merge(new_rides, station_infos, left_on='Start_station', right_on='NAME')
    new_rides.rename(columns={
        'LATITUDE': 'start_lat',
        'LONGITUDE': 'start_lon',
        'CAPACITY': 'Start_capacity'
    }, inplace=True)

    new_rides.drop('NAME', axis=1, inplace=True)
    new_rides = pd.merge(new_rides, station_infos, left_on='End_station', right_on='NAME')
    new_rides.rename(columns={
        'LATITUDE': 'end_lat',
        'LONGITUDE': 'end_lon',
        'CAPACITY': 'End_capacity'
    }, inplace=True)
    new_rides.drop('NAME', axis=1, inplace=True)
    cols_order = ['Bike_number', 'Duration', 'Start_date', 'End_date', 'Start_station', 'Start_station_number',
              'Start_capacity', 'End_station', 'End_station_number', 'End_capacity', 'start_lat', 'start_lon',
              'end_lat', 'end_lon', 'Member_type', 'Holiday', 'temp', 'rel_humidity', 'precipitation', 'snow',
              'wspd', 'sun_minutes']

    # get holiday
    # get weather
    rides_holiday = holidays.country_holidays('US', subdiv='DC', years=list(new_rides.Start_date.dt.year.unique()))
    new_rides['Holiday'] = new_rides.Start_date.dt.normalize().map(rides_holiday)
    year, month = new_rides.Start_date.dt.year.iloc[0], new_rides.Start_date.dt.month.iloc[0]
    day, hour = new_rides.Start_date.dt.day.iloc[0], new_rides.Start_date.dt.hour.iloc[0]

    start_date = datetime.datetime(year, month, day, hour)
    year, month = new_rides.End_date.dt.year.iloc[0], new_rides.End_date.dt.month.iloc[0]
    day, hour = new_rides.End_date.dt.day.iloc[0], new_rides.End_date.dt.hour.iloc[0]
    end_date = datetime.datetime(year, month, day, hour)
    weather_station_id = '72405'
    weather_data = Hourly(weather_station_id, start=start_date, end=end_date).fetch()
    weather_cols = {
        'dwpt': 'dew_point', 'rhum': 'rel_humidity', 'prcp': 'precipitation',
        'tsun': 'sun_minutes'
    }
    weather_data.rename(columns=weather_cols, inplace=True)
    weather_data = weather_data.drop(['pres', 'coco'], axis=1)
    weather_data.reset_index(inplace=True)
    new_rides = new_rides.merge(weather_data,
                    left_on=[new_rides.Start_date.dt.normalize(),new_rides.Start_date.dt.hour],
                    right_on=[weather_data.time.dt.normalize(),weather_data.time.dt.hour])

    new_rides.drop(columns=['key_0','key_1','time','dew_point','wdir','wpgt'], inplace=True)
    new_rides.set_index('ride_id', inplace=True)
    new_rides = new_rides[cols_order]

    new_rides.to_gbq(
    'Bikesharing.test',
    project_id,
    if_exists='append',
    )

In [3]:
df.drop(columns=['Temp','Relative_humidity','Windspeed'],inplace=True)

In [8]:
import pandas_gbq

In [10]:
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file('welu420-8af84caa5bcf.json')

In [14]:
df.reset_index(inplace=True)

In [16]:


df.to_gbq(
    'Bikesharing.rentals',
    'welu420',
    if_exists='append',
    credentials=credentials
)

In [4]:
import holidays
from meteostat import Hourly, Stations
import datetime

In [5]:
all_holidays = holidays.country_holidays('US', subdiv='DC', years=list(df.Start_date.dt.year.unique()))

In [6]:
df['Holiday']=df.Start_date.dt.normalize().map(all_holidays)

In [10]:
df

,ride_id,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,End_station,End_station_number,Member_type
28202640,26174235,W00214,270,2019-12-31 23:00:36,2019-12-31 23:05:07,15th & Euclid St NW,31117,11th & Girard St NW,31126,Member
28202641,26174236,W00656,1517,2019-12-31 23:01:26,2019-12-31 23:26:44,John McCormack Dr & Michigan Ave NE,31502,New Jersey Ave & R St NW,31509,Member
28202642,26174237,W24836,1676,2019-12-31 23:02:52,2019-12-31 23:30:48,22nd & P ST NW,31285,22nd & I St NW / Foggy Bottom,31257,Member
28202643,26174238,W23782,729,2019-12-31 23:03:46,2019-12-31 23:15:56,Fenton St & Gist Ave,32024,Georgia Ave & Piney Branch Rd NW,31414,Member
28202644,26174239,W24253,457,2019-12-31 23:03:47,2019-12-31 23:11:24,17th & Corcoran St NW,31214,14th & L St NW,31283,Member
...,...,...,...,...,...,...,...,...,...,...
28202741,26174336,W21285,130,2019-12-31 23:57:36,2019-12-31 23:59:46,Crystal Dr & 23rd St S,31011,Crystal Dr & 27th St S,31009,Member
28202742,26174337,W24197,664,2019-12-31 23:57:47,2020-01-01 00:08:51,15th & W St NW,31125,8th & O St NW,31281,Member
28202743,26174338,W21281,389,2019-12-31 23:59:37,2020-01-01 00:06:06,Braddock Rd Metro South,31047,Mount Vernon Ave & E Nelson Ave,31085,Member
28202744,26174339,W00534,962,2019-12-31 23:59:38,2020-01-01 00:15:40,37th & O St NW / Georgetown University,31236,17th & Corcoran St NW,31214,Member
28202745,26174340,W22782,183,2019-12-31 23:59:55,2020-01-01 00:02:58,13th St & New York Ave NW,31227,15th & K St NW,31254,Member

In [8]:
# Get hourly data
start = datetime.datetime(2010, 1, 1)
end_date = datetime.datetime(2020, 12, 31, 23, 59)
weather_data = Hourly('72405', start, end_date)
weather_data = weather_data.fetch()

In [9]:
weather_cols = {
    'dwpt': 'dew_point', 'rhum': 'rel_humidity', 'prcp': 'precipitation',
    'tsun': 'sun_minutes'
}
weather_data.rename(columns=weather_cols, inplace=True)
weather_data = weather_data.drop(['pres', 'coco'], axis=1)

In [10]:
weather_data.fillna(method='ffill', inplace=True)

In [11]:
weather_data.reset_index(inplace=True)

In [32]:
weather_data

,time,temp,dew_point,rel_humidity,precipitation,snow,wdir,wspd,wpgt,sun_minutes
0,2010-01-01 00:00:00,2.2,-0.1,85.0,NaN,NaN,240.0,9.4,NaN,NaN
1,2010-01-01 01:00:00,2.2,-0.1,85.0,0.8,NaN,240.0,0.0,NaN,NaN
2,2010-01-01 02:00:00,2.2,0.6,89.0,1.3,NaN,240.0,0.0,NaN,NaN
3,2010-01-01 03:00:00,2.2,0.6,89.0,0.5,NaN,20.0,5.4,NaN,NaN
4,2010-01-01 04:00:00,2.2,0.6,89.0,0.3,NaN,20.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
96420,2019-12-31 19:00:00,11.7,1.0,48.0,0.0,NaN,240.0,18.4,NaN,NaN
96421,2019-12-31 20:00:00,12.2,0.6,45.0,0.0,NaN,220.0,22.3,NaN,NaN
96422,2019-12-31 21:00:00,11.1,-1.7,41.0,0.0,NaN,230.0,20.5,NaN,NaN
96423,2019-12-31 22:00:00,11.1,-1.0,43.0,0.0,NaN,220.0,16.6,NaN,NaN
96424,2019-12-31 23:00:00,10.6,-1.2,44.0,0.0,NaN,220.0,11.2,NaN,NaN

In [12]:
df_final = df.merge(weather_data, left_on=[df.Start_date.dt.normalize(),df.Start_date.dt.hour],right_on=[weather_data.time.dt.normalize(),weather_data.time.dt.hour])

In [13]:
df_final.drop(columns=['key_0','key_1','time','dew_point','wdir','wpgt'], inplace=True)

In [9]:
df.to_parquet('ETL_Data.parquet')